:root {
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;

  --primario: #1f345e;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}

/** Globales **/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/** Header **/
.webp .header {
  background-image: url('img/fondo.jpg');
}
.no-webp .header {
  background-image: url('img/fondo.jpg');
}
.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__texto {
 text-align: center;
 color: var(--blanco);
 margin-top: 5rem;
}
@media (min-width: 768px) {
  .header__texto {
      margin-top: 15rem;
  }
}
.barra {
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
.logo {
  color: var(--blanco);
  
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
      display: flex;
      gap: 2rem;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .contenido-principal {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
  }
}

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}
.boton {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  text-decoration: none;
}

.boton:hover {
  cursor: pointer;
  color: #4b6cb7;
}

.ref-princ{
  background-color: white;
  border-color: lightslategray;
  color: lightslategray;
  text-decoration: none;
  border-radius: 0.3em;
  border-width: 0.1em;
  border-style:solid;
  padding: 0.2em;
}

.ref-princ:hover{
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-color: lightslategray;
}

.cursos {
  list-style: none;
}

.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.widget-curso:last-of-type {
  border: none;
  margin-bottom: 0;
}
.widget-curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
.widget-curso__info {
  font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
  font-size: 2rem;
}

.footer {
  background-color: var(--negro);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Cursos **/
.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
  .curso {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
  }
}
.curso:last-of-type {
 border: none;
}
.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
.curso__info {
  font-weight: normal;
}
.curso__label,
.curso__info {
  font-size: 2rem;
}